.fo-footer {
  margin: 0 auto;
  width: 100%;
  min-height: 185px;
  background-color: #9f9acf;
  display: flex;
  justify-content: space-around; }
  .fo-footer__block {
    align-self: center;
    width: 100%;
    max-width: 1103px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
    .fo-footer__block > address {
      color: #ffffff;
      font-family: "PT Sans",sans-serif;
      font-size: 18px;
      font-weight: 400; }
  .fo-footer .address--bold {
    font-weight: 700; }
  .fo-footer-link-style {
    padding: 0;
    max-width: 261px; }
    .fo-footer-link-style__item {
      margin-left: 6.5px;
      margin-right: 6.5px;
      list-style: none;
      display: inline-block; }
