@import "about_us/main.scss";
@import "our_services/main.scss";
@import "recent_works/main.scss";
@import "meet_our_team/main.scss";
@import "contact_us/main.scss";
.fa-main-content{
  width: 100%;
  min-height: 4316px;
  background-color: aquamarine;
  margin: 0 auto;
}
.fa-main-container {
  width: 100%;
  min-height: 1598px;
  margin: 0 auto;
  background-color: #ebebeb;
}